// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

a {
    color: $brand-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: darken( $brand-color, 3 );
    }
}

// h5.upper {
//     color: $brand-color;
// }

// .services-1 .col-wrapper,
// .services-1 .col-wrapper::before {
//     &:hover,
//     &:focus {
//         border-color: $brand-color;
//     }
// }

// .services-3 .icon i.icn {
//     color: $brand-color;
//     border-color: $brand-color;
// }

.navbar-brand {
    img {
        max-width: 400px;
        height: auto;
    }
}
