/**
 * Basic typography style for copy text
 */
body {
    color: $text-color;
    font: normal 14px / 24px $text-font-stack;
}

p,
li,
label,
a {
    font: normal 14px / 24px $text-font-stack;
}

h1,
h2,
h3,
h4 {
    font-family: $header-font-stack !important;
    font-weight: 500;

    a {
        font-family: $header-font-stack;
    }

}
