// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.grid-blog {

    margin-left: 0;
    .post {
        width: 100%;
    }
    &.col3 {
        .post {
            // width: 100%;
        @extend .col-sm-12;
        @extend .col-md-6;
        @extend .col-sm-4;
            
        }
    }
    &.col2 {
        @include respond-to('large') {
            .post {
                width: 46%
            }
        }
    }
}

@media (min-width: 768px) {

    .grid-blog {
        &.col3 {
            .post {
                width: 47.5%;
            }
        }
    }

}

@media (min-width: 993px) {
    .grid-blog {
        &.col3 {
            .post {
                width: 30.5%;
            }
        }
    }

}
