// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.slider-headline {
    color: $white;
    font: normal 300% / 2.4 $header-font-stack;
    text-shadow: 2px 3px 3px #333;
}

.tp-button {
    display: inline-block;
    background-color: $black;
    border-radius: 0;
    border: 1px solid $white;
    height: 30px !important;
    line-height: 30px !important;
    color: $white;
}

/* Fix 3-column layout */
.aq-block-aq_icon_column_block {

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        width: 33% !important;
    }
}

#our-services {

    .inner {
        // padding-top: 0;
        padding-bottom: 0;
    }

}



